* {
    /* don't use '0px' or any other unit, if you set the value to zero */
    padding: 0;
    margin: 0;
    border: 0;
}

@font-face {
    font-family: primary;
    src: url(fonts/Jhiaxus.otf);
}

@font-face {
    font-family: secondary;
    src: url(fonts/Florentia-Regular-trial.ttf);
}

.container {
    width: 1200px;
}

body {
    background: #FFF7C0;
}

/* .bgColor {
    background: #FFEE50;
} */

.pgPos {
    position: relative;
    top: 33px;
    max-width: 1300px;
    margin: 0 auto;
}

.img {
    width: 500px;
    height: auto;
    margin-bottom: 25px;
}

.imgCenter {
    text-align: center;
}

.intro {
    font-family: primary;
    font-size: 5rem;
    color: #6D2E2E;
    text-align: center;
    margin-bottom: 10px;
}

.capt {
    font-family: secondary;
    text-align: center;
    font-size: 1.5em;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}

nav {
    display: flex;
    justify-content: center;
}

.btn {
    width: 150px;
    border-radius: 0;
}

.btn-primary {
    background: #6D2E2E;
    border-color: transparent;
}

.btn-text {
    font-family: primary;
    font-size: 1em;
    color: #FFF7C0;
}

.btn:hover {
    background: #B58181;
    border: 1px solid #B58181;
    color: #FFF7C0;
}

.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
    background: #B58181;
 }

@media only screen and (max-device-width: 500px) {
    .pgPos {
        position: relative;
        top: 33px;
        min-width: 500px;
        margin: 0 auto;
        /* text-align: center; */
    }

    .btn {
        width: 125px;
        border-radius: 0;
    }
}

.indent {
    margin-left: 50px;
}