@font-face {
    font-family: primary;
    src: url(fonts/Jhiaxus.otf);
}

@font-face {
    font-family: secondary;
    src: url(fonts/Florentia-Regular-trial.ttf);
}

.head {
    font-family: primary;
    font-size: 3em;
    color: #6D2E2E;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
  }

h2 {
    font-family: primary;
    font-size: 2em;
    color: #6D2E2E;
}

h3 {
    font-family: primary;
    font-size: 1.2em;
    margin: 0;
}

p {
    font-family: secondary;
    font-size: 1em;
}

body {
    background: #FFF7C0;
}

.bgColor {
    background: #FFEE50;
}

.headPos {
    position: relative;
    top: 33px;
}

.imgFrame {
    width: 600px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 25px;
}

.intro {
    font-family: primary;
    font-size: 5em;
    color: #6D2E2E;
    text-align: center;
    margin-bottom: 10px;
}

.capt {
    font-family: secondary;
    text-align: center;
    font-size: 1.5em;
    width: 525px;
    margin: 0 auto;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
}

.btn-text {
    font-family: primary;
    font-size: 1em;
    color: #FFF7C0;
}

.btn-center {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.btn-primary {
    background: #6D2E2E;
    border-color: transparent;
}

.btn {
    width: 150px;
    border-radius: 0;
}

.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
    background: #B58181;
 }

 .btn:hover {
     background: #B58181;
     border: 1px solid #B58181;
     color: #FFF7C0;
 }

.fixRad {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.textCenter {
    width: 750px;
    margin: 0 auto;
}

.indent {
    margin-left: 50px;
}